name: List outdated dependencies

on:
  - push
  - pull_request

jobs:
  list_outdated_dependencies:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Check Python version
        run: python --version
      - name: PDM installation
        run: pip install --user pdm
      - name: List outdated dependencies
        run: pdm outdated
